<!DOCTYPE html>
<html>
    <head>
        <title>Meadowlark Travel</title>
        {{#if showTests}}
            <link rel="stylesheet" href="/vendor/mocha.css">
        {{/if}}
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous" />
       {{{_sections.head}}}
    </head>
    <body>
        {{#if flash}}
            <div class="alert alert-dismissable alert-{{flash.type}}">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
                    &times;
                </button>
                <strong>{{flash.intro}}</strong> {{{flash.message}}}
            </div>

        {{/if}}
        <header><img src="/img/logo.png"/></header>
        {{{body}}}
        {{#if showTests}}
            <div id="mocha"></div>
            <script src="/vendor/mocha.js"></script>
            <script src="/vendor/chai.js"></script>
            <script>
                mocha.ui('tdd');
                var assert = chai.assert;
            </script>
            <script src="/qa/tests-global.js"></script>
            {{#if pageTestScript}}
                <script src="{{pageTestScript}}"></script>
            {{/if}}
            <script> mocha.run(); </script>
        {{/if}}
         <script src="//code.jquery.com/jquery-2.0.2.min.js"></script>
         <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
         {{{_sections.jquery}}}
    </body>
</html>